extends layout
block content
    h1
        Chat History
    ul
        each chat in history
            each item in chat.entry
                p(style="white-space:pre;")
                    | date: #{item.datetime}
                    | name: #{item.loginName}
                    | message: #{item.chatMessage}